#header 
{
    #logo 
    {
        position: relative;
        display: inline-block;
        width: 37%;
        min-width: 90px;

        svg path {
            fill: #000;
        }
    }

    .menu
    {
        position: relative;
        display: inline-block;
        width: 4.4%;
    }
}

